main{
    width: 100%; /*height: 200px; 테스트용*/
    /* background-color: aqua; */
    padding-top: 155px;
    text-align: center;
}
main>h2{
    font-size: 60px;
    font-weight: 700;
    color: #333;
    line-height: 280px;
    letter-spacing: -1px;
    /* text-align: center; */
}
#dang_wrap{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 160px;
}
.dang_tt{
    width: 1000px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    

}
.dang_top{
    padding: 74px 0 60px;
    display: flex;

}
.dang_top>div{
    width: calc(100% - 135px);

}
.dang_top h3{
    font-size: 36px;
    font-weight: 300;
    color: #333;
    line-height: 42px;
    letter-spacing: -0.07em;
    text-align: left;
}
.dang_top p{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #aaa;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: left;
}
.dang_top span{
    background: url(../img/user-menu-share2.png) center no-repeat;
    display: inline-block;
    width: 135px;
    height: 25px;
    /* float: right; */
}
.dang_top_txt{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    line-height: 32px;
}
.dang_bot>div{
    margin-top: 60px;
}
.dang_bot input{
    display: inline-block;
    width: 156px; height: 60px;
    border: 1px solid #333;
}
.dang_bot input{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    line-height: 60px;
    text-align: center;
}